* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #383838;
  margin: 0;
  line-height: normal;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

header, .quiz {
  background: url(../img/header-background.png);
  background-size: 100% 100%;
  min-height: 100vh;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.navigation__right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__list {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}

.navigation__list:last-child {
  margin-right: 0;
}

.navigation__url {
  color: #323234A3;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  cursor: pointer;
}

.navigation__url:hover {
  opacity: .5;
}

.navigation__button {
  background-color: #FF5C31;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  border: none;
  border-radius: 4px;
  padding: 7px 15px;
  -webkit-box-shadow: 0px 2px 20px #0000002E;
          box-shadow: 0px 2px 20px #0000002E;
  color: #FFFFFF;
  cursor: pointer;
}

.navigation__button:hover {
  opacity: .5;
}

.hero {
  padding-top: 250px;
}

.hero__heading {
  font-size: 43px;
  margin: 0 0 10px 0;
}

.hero__paragraph {
  font-size: 18px;
  margin: 0;
}

.hero__button {
  background-color: #FF5C31;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  border: none;
  border-radius: 4px;
  padding: 20px 32px;
  -webkit-box-shadow: 0px 2px 20px #0000002E;
          box-shadow: 0px 2px 20px #0000002E;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 24px;
  cursor: pointer;
}

.hero__button:hover {
  opacity: .5;
}

.repeater {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 50vw;
  min-height: 100vh;
  background-image: url(../img/carusele.png);
  background-repeat: repeat-y;
  background-size: 100% auto;
  margin-right: 1%;
  background-position-y: 100%;
  -webkit-animation: slideShowVertical 1800s ease 0s infinite normal none;
          animation: slideShowVertical 1800s ease 0s infinite normal none;
}

@-webkit-keyframes slideShowVertical {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10000%;
  }
}

@keyframes slideShowVertical {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10000%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 105px 0;
}

.about__heading {
  font-size: 42px;
  margin: 0 0 14px 0;
}

.about__heading-span {
  color: #FF5C31;
}

.about__paragraph {
  font-size: 16px;
  border-left: 2px solid black;
  border-color: #D9D9D9;
  padding-left: 19px;
  text-align: justify;
  margin: 0 0 50px 0;
}

.about__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__blocks-single {
  -webkit-box-shadow: 0px 5px 14px #0000000F;
          box-shadow: 0px 5px 14px #0000000F;
  text-align: center;
  margin-right: 31px;
  padding: 36px 42px 48px 42px;
}

.about__blocks-single:last-child {
  margin-right: 0;
}

.about__blocks-single-img {
  width: 86px;
  height: 86px;
}

.about__blocks-single-heading {
  font-size: 24px;
  margin: 36px 0 0 0;
}

.about__blocks-single-paragraph {
  font-size: 14px;
  color: #323234A3;
  margin: 0;
}

.footer {
  background: #F0EFF1;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.footer__block-heading {
  font-size: 42px;
  color: #FF5C31;
  margin: 0;
}

.footer__block-paragraph {
  margin: 0;
}

.footer__block-media {
  list-style: none;
  display: inline-block;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  margin-right: 10px;
}

.footer__block-media:last-child {
  margin-right: 0;
}

.footer__block-media:hover {
  opacity: 0.5;
}

.quiz__information {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
}

.quiz__information-bar {
  height: 20px;
  margin-bottom: 30px;
  border: 1px solid #D9D9D9;
  background: #38383814;
  border-radius: 14px;
}

.quiz__information-bar-progress {
  height: 18px;
  width: 0%;
  background: -webkit-gradient(linear, right top, left top, from(#0BD67E), to(#18B16E));
  background: linear-gradient(270deg, #0BD67E, #18B16E);
  border-radius: 14px;
  -webkit-animation: slide 1s ease-out;
          animation: slide 1s ease-out;
}

.quiz__information-heading {
  margin-top: 0;
  font-size: 42px;
}

.quiz__information-block {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 16px #0000000F;
          box-shadow: 0px 5px 16px #0000000F;
  padding: 36px 82px 48px 82px;
}

.quiz__information-block-paragraph {
  font-size: 16px;
  color: #323234A3;
  margin: 0;
}

.quiz__information-block-heading {
  font-size: 22px;
  color: #FF5C31;
  font-weight: 500;
}

.quiz__information-block-list {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  list-style: none;
  padding: 0;
}

.quiz__information-block-check {
  font: 16px/1 'LineAwesome';
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px 4.5px;
  margin-right: 10px;
  color: #FF5C31;
  border-color: #FF5C31;
}

.quiz__information-block-button {
  background-color: #FF5C31;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  border: none;
  border-radius: 4px;
  padding: 20px 80px 20px 80px;
  -webkit-box-shadow: 0px 2px 20px #0000002E;
          box-shadow: 0px 2px 20px #0000002E;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 24px;
  cursor: pointer;
}

.quiz__information-block-button:hover {
  opacity: .5;
}

.quiz__type {
  max-width: 70%;
  margin: auto;
  text-align: center;
  padding: 20px 0px;
  display: none;
  opacity: 0;
}

.quiz__type-bar {
  height: 20px;
  margin-bottom: 30px;
  border: 1px solid #D9D9D9;
  background: #38383814;
  border-radius: 14px;
}

.quiz__type-bar-progress {
  height: 18px;
  width: 25%;
  background: -webkit-gradient(linear, right top, left top, from(#0BD67E), to(#18B16E));
  background: linear-gradient(270deg, #0BD67E, #18B16E);
  border-radius: 14px;
}

.quiz__type-heading {
  margin-top: 0;
  font-size: 42px;
}

.quiz__type-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  -webkit-transition: border .5s;
  transition: border .5s;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  width: 100%;
  height: 100px;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 16px #0000000F;
          box-shadow: 0px 5px 16px #0000000F;
  color: #383838;
  margin-bottom: 24px;
  cursor: pointer;
  text-align: left;
}

.quiz__type-select:hover {
  border: 1px solid #FF5C31;
}

.quiz__type-select:last-child {
  margin-bottom: 0;
}

.quiz__type-select-img {
  width: 64px;
  height: 64px;
}

.quiz__type-select-span {
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.quiz__form {
  max-width: 70%;
  margin: auto;
  text-align: center;
  padding: 20px 0px;
  display: none;
  opacity: 0;
}

.quiz__form-bar {
  height: 20px;
  margin-bottom: 30px;
  border: 1px solid #D9D9D9;
  background: #38383814;
  border-radius: 14px;
}

.quiz__form-bar-progress {
  height: 18px;
  width: 50%;
  background: -webkit-gradient(linear, right top, left top, from(#0BD67E), to(#18B16E));
  background: linear-gradient(270deg, #0BD67E, #18B16E);
  border-radius: 14px;
}

.quiz__form-heading {
  margin-top: 0;
  font-size: 42px;
}

.quiz__form-block {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  cursor: pointer;
  text-align: left;
}

.quiz__form-block-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 20px;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  height: 60px;
  -webkit-box-shadow: 0px 5px 16px #0000000F;
          box-shadow: 0px 5px 16px #0000000F;
  color: #383838;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: border .5s;
  transition: border .5s;
}

.quiz__form-block-answer:hover {
  border-color: #FF5C31;
}

.quiz__form-block-answer:hover .quiz__form-block-answer-checkbox ~ .quiz__form-block-answer-checkmark {
  color: #D9D9D9;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.quiz__form-block-answer .quiz__form-block-answer-checkbox:checked ~ .quiz__form-block-answer-checkmark {
  background-color: #FF5C31;
  border: #FF5C31;
  color: #FFFFFF;
  -webkit-transition: background-color .5s, border .5s, color .5s;
  transition: background-color .5s, border .5s, color .5s;
}

.quiz__form-block-answer-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.quiz__form-block-answer-checkmark {
  position: absolute;
  right: 20px;
  height: 25px;
  width: 25px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  color: #ffffff00;
  text-align: center;
  font-weight: bold;
}

.quiz__form-button {
  background-color: #FF5C31;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  border: none;
  border-radius: 4px;
  padding: 20px 80px 20px 80px;
  -webkit-box-shadow: 0px 2px 20px #0000002E;
          box-shadow: 0px 2px 20px #0000002E;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 24px;
  cursor: pointer;
}

.quiz__form-button:hover {
  opacity: .5;
}

.quiz__results {
  max-width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  display: none;
  opacity: 0;
}

.quiz__results-bar {
  height: 20px;
  margin-bottom: 30px;
  border: 1px solid #D9D9D9;
  background: #38383814;
  border-radius: 14px;
}

.quiz__results-bar-progress {
  height: 18px;
  width: 75%;
  background: -webkit-gradient(linear, right top, left top, from(#0BD67E), to(#18B16E));
  background: linear-gradient(270deg, #0BD67E, #18B16E);
  border-radius: 14px;
}

.quiz__results-heading {
  margin-top: 0;
  font-size: 42px;
}

.carousel-cell {
  width: 500px;
  height: 300px;
  margin-right: 20px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background: black;
}

.flickity-page-dots, .flickity-button {
  display: none;
}

.slider {
  display: none;
  opacity: 0;
}

.slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#3838383B), to(#383838)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #3838383B 0%, #383838 100%) 0% 0% no-repeat padding-box;
}

.slider__img {
  width: 100%;
}

.slider__item {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  padding: 30px;
  text-align: left;
}

.slider__item-film-name {
  margin: 0;
}

.slider__item-film-date {
  border-right: 1px solid #FFFFFF66;
  padding-right: 10px;
}

.slider__item-film-duration {
  padding-left: 10px;
}

.slider__item-film_rating {
  margin: 0;
  color: #FFCC00;
}

.slider__item-film_rating::before {
  content: '\2605';
  font-size: 20px;
  padding-right: 5px;
}

.slider__item-film-description {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 30px 0;
}

.slider__buttons-previous {
  border: solid #383838;
  border-width: 0 4px 4px 0;
  padding: 6px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background: none;
  cursor: pointer;
}

.slider__buttons-previous:hover {
  opacity: 0.5;
}

.slider__buttons-next {
  border: solid #383838;
  border-width: 0 4px 4px 0;
  padding: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background: none;
  cursor: pointer;
}

.slider__buttons-next:hover {
  opacity: 0.5;
}

.slider__buttons-select {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.slider__buttons-select-finish {
  background: #FF5C31;
  color: #FFFFFF;
  border: none;
  -webkit-box-shadow: 0px 2px 20px #D9D9D9;
          box-shadow: 0px 2px 20px #D9D9D9;
  cursor: pointer;
  width: 235px;
  height: 70px;
  border-radius: 4px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.slider__buttons-select-finish:hover {
  opacity: .6;
}

.slider__buttons-select-finish-paragraph {
  margin: 0;
  font-size: 16px;
  font-weight: 450;
}

.slider__buttons-select-finish-span {
  color: #FFFFFF99;
}

.slider__buttons-select-again {
  background: #38383814;
  color: #383838;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  width: 235px;
  height: 70px;
  border-radius: 4px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.slider__buttons-select-again:hover {
  opacity: .6;
}

.slider__buttons-select-again-paragraph {
  margin: 0;
  font-size: 16px;
  font-weight: 450;
}

.slider__buttons-select-again-span {
  color: #38383899;
}
/*# sourceMappingURL=styles.css.map */