:root {
    --unnamed-color-black: #383838;
    --unnamed-color-grey: #D9D9D9;
    --unmated-color-darkgrey: #323234A3;
    --unnamed-color-white: #FFFFFF;
    --unnamed-color-orange: #FF5C31;
    --unnamed-color-orange-hovered: #ff5e31cb;
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--unnamed-color-black);
    margin: 0;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-image: url(../ca-bd/img/header-background.png);
    background-size: 100% 100%;
    min-height: 100vh;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 50px 0;

}

.navigation li {
    list-style-type: none;
    display: inline-block;
}

.navigation a {
    color: var(--unmated-color-darkgrey);
    font-family: Poppins;
    margin-right: 15px;
    transition: opacity .5s;
    cursor: pointer;
}

.navigation a:hover {
    opacity: .5;
}

.lang_button {
    background-color: var(--unnamed-color-orange);
    transition: opacity .5s;
    border: none;
    border-radius: 4px;
    padding: 7px 15px;
    box-shadow: 0px 2px 20px #0000002E;
    color: var(--unnamed-color-white);
    margin-left: 15px;
    cursor: pointer;
}

.lang_button:hover {
    opacity: .5;
}

.hero {
    padding: 150px 0;
}

.hero_heading {
    font-size: 43px;
    color: var(--unnamed-color-black);
    margin: 0 0 10px 0;
}

.hero_paragraph {
    font-size: 18px;
    color: var(--unnamed-color-black);
    margin: 0;
}

.hero_button {
    background-color: var(--unnamed-color-orange);
    transition: opacity .5s;
    border: none;
    border-radius: 4px;
    padding: 15px 32px;
    box-shadow: 0px 2px 20px #0000002E;
    color: var(--unnamed-color-white);
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 24px;
    cursor: pointer;
}

.hero_button:hover {
    opacity: .5;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 50vw;
    min-height: 100vh;
    background-image: url(../ca-bd/img/carusele.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    margin-right: 1%;
    background-position-y: 100%;
    animation: slideShowVertical 1800s ease 0s infinite normal none;
}

@keyframes slideShowVertical{
    0% {
        background-position:0 0
    }
    to {
        background-position:0 -10000%
    }
}

.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 105px 0;
}

.about_heading {
    font-size: 42px;
    margin: 0 0 14px 0;
}

.about_heading span {
    color: var(--unnamed-color-orange);
}

.about_paragraph {
    font-size: 16px;
    color: var(--unnamed-color-black);
    border-left: 2px solid black;
    border-color: var(--unnamed-color-grey);
    padding-left: 19px;
    text-align: justify;
    margin: 0 0 50px 0;
}

.about_blocks {
    display: flex;
}

.about_blocks .about_blocks_single {
    box-shadow: 0px 5px 14px #0000000F;
    text-align: center;
    margin-right: 31px;
    padding: 36px 42px 48px 42px;
}

.about_blocks .about_blocks_single:last-child {
    margin-right: 0;
}

.about_blocks_single h2 {
    font-size: 24px;
    margin: 36px 0 0 0;
}

.about_blocks_single p {
    font-size: 14px;
    color: var(--unmated-color-darkgrey);
    margin: 0;
}

.footer {
    background: #F0EFF1;
    min-height: 20vh;
    padding: 10px 0;
}

.footer h2 {
    font-size: 42px;
    color: var(--unnamed-color-orange);
    margin: 0;

}

.footer p {
    color: var(--unnamed-color-black);
}

.footer_text {
    float: left;

}

.footer_media {
    float: right;
}

.footer_media li {
    list-style-type: none;
    display: inline;
}

.footer_media a {
    margin-left: 10px;
    transition: opacity .5s;
}

.footer_media a:hover {
    opacity: 0.5;
}